.search-title {
    font-size: 35px;
    font-weight: bold;
    margin: 35px 0 0 0;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.pe-form-list-search-event {
    margin-top: 25px;
    .search-event__fields {
        .ant-form-item {
            width: 50%;
        }
    }
}

.search-result {
    margin-top: 35px;

    h1 {
        font-size: 35px;
    }
}
