.pe-form-list-search-event {
    margin-top: 25px;
    .search-event__fields {
        .ant-form-item {
            width: 50%;
        }
    }
}

.search-result {
    margin-top: 35px;

    h1 {
        font-size: 35px;
    }
}
